<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <script src="/plugins/bootstrap-4.5.2/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>
    <script src="/axios/axios.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtkybgEOd-BT_rHb5gsOFEDgSCQADYBVo&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script src="/javascripts/pages/index.js"></script>
  </head>
  <body>
    <section>
      <div>
        <div id="map" style="width: 100%; height: 100vh;"></div>
      </div>
    </section>
  </body>
</html>
