<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <script src="/plugins/bootstrap-4.5.2/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>

    <script src="/javascripts/pages/regionUpload.js"></script>
  </head>
  <body>
    <section>
      <div class="container p-5">
        <!-- For demo purpose -->
        <div class="row mb-5 text-center text-white">
          <div class="col-lg-10 mx-auto">
            <!-- <h1 class="display-4">File upload button</h1>
            <p class="lead">
              Build a simple file upload button using Bootstrap 4.
            </p> -->
          </div>
        </div>
        <!-- End -->

        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="p-5 bg-white shadow rounded-lg">
              <img
                src="/images/img_epm3iz.png"
                alt=""
                width="200"
                class="d-block mx-auto mb-4 rounded-pill"
              />

              <!-- Default bootstrap file upload-->

              <h6 class="text-center mb-4 text-muted">
                <!-- You can use default Bootstrap file upload -->
              </h6>
              <form
                id="formUpload"
                action="/api/map/region/upload"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="custom-file overflow-hidden rounded-pill mb-5">
                  <input
                    id="customFile"
                    type="file"
                    name="file"
                    class="custom-file-input rounded-pill"
                  />
                  <label for="customFile" class="custom-file-label rounded-pill"
                    >Choose file</label
                  >
                </div>
                <!-- End -->

                <h6 class="text-center mb-4 text-muted">
                  <!-- Or a custom button that launches file browser -->
                </h6>

                <!-- Custom bootstrap upload file-->

                <!-- <input
                  id="btnSubmit"
                  value="Upload"
                  type="submit"
                  class="file-upload btn btn-primary btn-block rounded-pill shadow"
                /> -->

                <button
                  id="btnUpload"
                  class="file-upload btn btn-primary btn-block rounded-pill shadow"
                  type="button"
                >
                  <span
                    class="spinner-border spinner-border-sm d-none"
                    role="status"
                    aria-hidden="true"
                  ></span>

                  <label>Upload</label>
                </button>
              </form>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
